{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card shadow border-0 rounded-4 p-4 mb-5">
            <h3 class="fw-bold mb-4 text-center">Detail Pengiriman</h3>
            
            <form action="{{ url_for('checkout') }}" method="POST">
                <div class="mb-3">
                    <label class="form-label fw-bold">Nama Lengkap</label>
                    <input type="text" name="nama" class="form-control" placeholder="Masukkan nama..." required>
                </div>
                
                <div class="mb-3">
                    <label class="form-label fw-bold">Nomor WhatsApp</label>
                    <input type="number" name="whatsapp" class="form-control" placeholder="08xxxxxxxxxx" required>
                </div>
                
                <div class="mb-4">
                    <label class="form-label fw-bold">Alamat Lengkap</label>
                    <textarea name="alamat" class="form-control" rows="3" placeholder="Sertakan patokan jalan..." required></textarea>
                </div>
                
                <button type="submit" class="btn btn-dark w-100 py-3 fw-bold rounded-3">Selesaikan Pesanan</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}